In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('5. London Housing Data.csv')
df.head(3)

,date,area,average_price,code,houses_sold,no_of_crimes
0,1/1/1995,city of london,91449,E09000001,17.0,NaN
1,2/1/1995,city of london,82203,E09000001,7.0,NaN
2,3/1/1995,city of london,79121,E09000001,14.0,NaN